.header{
  padding-bottom: 49px;
}
.tittle{
  color: #000000;
  font-size: 80px;
  font-family: "Roboto Light";
  line-height: 94px;
  text-decoration: none;
}
.tittle span{
  color: #4BCAFF;
}
.header-items{
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: white;
  line-height: 80px;
  padding-right: 60px;
  padding-left: 60px;

}
.menu{
  display: flex;
  justify-content: center;
  background-color:#35444f;
  height: 69px;
  width: 1280px;
  align-items: center;
}
.menu-header-link{
  color: white;
  font-family: "Roboto Light";
  font-size: 20px;
}
.container{
  max-width: 1280px;
  margin-right: auto;
  margin-left:auto;
}
.aside_menu{
  border: 1px solid;
  width: 344px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 344px;

}
.nav_items{
  font-size: 27px;
  line-height: 27px;
}
.aside_menu_item{
  color:#495863;
  margin-left: 34px;
}
.main_contant{
  display: flex;
  gap: 50px;
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid  black; /
  width: 885px;
  height: 529px;
  padding: 75px 268px 73px 297px;
}
.image{
  width: 320px;
  height: 381px;
}
.main_text{
  text-align: center;
  margin-left: 397px;
  font-size: 18px;
  margin-top: 30px;
}
.text1{
  width: 885px;
  height: 120px;
}
.tex2{
  width: 885px;
  height: 120px;
}
.footer{
  margin: 40px 100px 20px;
  line-height: 70px;


}
.footer_content{
  display: flex;
  background:rgba(99,105,110,0.48) ;
  height: 69px;


}
.footer_menu{
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;

}
.footer_menu1{
  font-style: normal;
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
}
.copyright{
  font-weight: 400;
  font-size: 28px;
  line-height: 69px;
  margin-left: 120px;
}
.ulli{
  display: flex;

}
